<div class="container mt-2">
    {{#each templates}}
    <div class="card m-1">
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <h6 class="card-title">{{name}}</h6>
                    <small class="card-text">{{description}}
                    </small>
                </div>
                <div class="col-4 text-start">
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a href="#" data-id="{{templateId}}" class="btn btn-sm btn-warning preview-doc">View</a>
                        <a href="#" data-id="{{templateId}}" class="btn btn-sm btn-success send-doc">Send</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<script>
    // Pass company ID and Deal ID from query params
    company_id = {{ company_id }}, deal_id = {{ item_id }};
</script>

<script src="/js/panel.js"></script>